.task-item {
    border-bottom: 1px solid #b9656c;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.task-content {
    max-width: 410px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    word-break: break-all;
}

.check-icon {
    color: #c47f85;
    font-size: 28px;
    overflow: visible;
    margin-right: 15px;
}

.task-deadline {
    color: #b9656c;
    font-size: medium;
    position: absolute;
    left: 430px;
    border: 1px solid #333;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task {
    font-size: large;
    word-break: break-all;
}

.buttons-style {
    background: none; 
    border: none; 
    padding: 0;
}

.edit-task {
    color: #c47f85;
    position: absolute;
    left: 275px;
    top: 9px;
    font-size: 25px;
}

.delete-icon {
    color: #c47f85;
    position: absolute;
    left: 580px;
    font-size: 25px;
}

.delete-all-tasks {
    color: #c47f85;
    margin-left: 510px;
    position: relative;
    text-decoration-line: underline;
    font-size: medium;
}

.done {
    text-decoration: line-through grey;
    color: grey;
    font-weight: 600;
}

.search-input {
    background-color: #cca9ab;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.priority-highest {
    color: #ff0000;
    font-weight: bold;
}

.priority-high {
    color: #ff6a6a;
    font-weight: bold;
}

.priority-medium {
    color: #ff9100;
    font-weight: bold;
}

.priority-low {
    color: #ffbb00;
    font-weight: bold;
}

.priority-lowest {
    color: #cccccc;
    font-weight: bold;
}

.save-button {
    color: white;
    background-color: #c47f85;
    width: 50px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}