.task-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
}

.task-input {
    flex-grow: 1;
    max-width: 600px;
    color: #c47f85;
    border-color: #c47f85; 
    border-width: 2px;
    box-shadow: none;
    margin-right: 10px;
    align-items: start;
}

.buttons-style {
    background: none; 
    border: none; 
    padding: 0;
}
.add-icon {
    color: #c47f85;
    font-size: 28px;
    width: 35px;
    height: 30px;
    margin-top: 10px;
}

.me-4 {
    margin-right: 1.5rem;
}

.priority-group {
    margin-top: 25px;
}

.priority-label {
    color: #c47f85;
    text-align: left;
    font-size: 17px;
}

.priority-highest-button {
    background-color: #ff0000;
}

.priority-high-button {
    background-color: #ff6a6a;
}

.priority-medium-button {
    background-color: #ff9100;
}

.priority-low-button {
    background-color: #ffbb00;
}

.priority-lowest-button {
    background-color: #cccccc;
}

.btn-active {
    border: 1px solid rgb(80, 80, 80);
    color: white;
}

.priority-highest-button, .priority-high-button, .priority-medium-button, .priority-low-button, .priority-lowest-button {
    padding: 7px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-size: large;
}

:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.deadline-container {
    display: block;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-icon-button {
    color: #c47f85;
}

.deadline-availability {
    color: #c47f85;
    margin-left: 20px;
}

.datepicker {
    color: #c47f85;
    margin-top: 15px;
    margin-bottom: 10px;
}

.mat-label {
    color: #c47f85;
}

.mat-hint {
    color: #c47f85;
}