.centered-text, 
.search-container {
    align-items: center;
}
.text-left {
    text-align: left;
}
.done {
    text-decoration: line-through;
    color: grey;
}
.page {
    text-align: center;
    background-color:white;
    padding: 50px;
    height: 820px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Set a maximum width for the table */
    overflow-y: auto; /* Add vertical scroll if content overflows */
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin-top: 10px;
    align-items: center;
}
ul {
    list-style-type: none; /* Entfernt die Standard-Punkte */
    padding: 0;
}
.task {
    font-size: large;
    text-align: left;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.task-item {
    border-bottom: 1px solid #b9656c;
    border-radius: 0%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-content {
    display: flex;
    align-items: center;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-wrap: break-word; /* Ensures long words wrap */
    overflow-wrap: break-word; /* Ensures long words wrap */
    flex: 1;
}
.btn-c-primary {
    color: white;
    background-color: #c47f85;
    border-radius: 3px;
    border: 2px solid #c47f85;
    padding: 2px 12px;
    font-size: x-large;
}
.btn-c-primary:hover {
    background-color: #b9656c;
    border-color: #b9656c;
}
.d-flex {
    display: flex;
    gap: 10px;
}
.home-button {
    position: absolute;
    top: -35px;
    left: -20px;
}
.buttons-style {
    background: none; 
    border: none; 
    padding: 0;
}