h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin-top: 10px;
    align-items: center;
}

.relative {
    position: relative;
}

.home-icon {
    color: #c47f85;
    font-size: 30px;
}

.home-button {
    top: -20px;
    left: -10px;
    border: 0;
    background: none;
}

.title {
    color: #c47f85;
    text-align: center;
    margin-bottom: 20px;
}

.page {
    display: block;
    align-items: center;
    background-color:white;
    padding: 40px;
    height: 820px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    overflow-y: auto;
    word-wrap: break-word;
    align-items: flex-start;
}